.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: cornflowerblue;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: darkblue;
}

.dialog a {
    color: cornflowerblue;
    text-decoration: none;
}

.dialog img {
    width: 40px;
    border-radius: 30px;
}

.messages {
    padding: 10px;
}

.message {

}
a.active {
    color: darkblue;
}